@media (max-width: 1000px) {
	html { font-size: 35px; }
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Mochiy Pop P One', sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
	max-width: 100vw;
	background-color: rgba(46, 46, 46, 0.5);
}

#v-main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.header {
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	vertical-align: baseline;
	margin-top: 0;
	padding: 3rem;
	border-radius: 5px 5px 0 0;
}

.header__text {
	animation: animate__bounceIn 0.5s;
}

.body {
	width: 100%;
	min-height: 70%;
	margin: 1rem auto;
	padding: 1rem;
	flex-grow: 1;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 1.8rem;
	animation: animate__backInDown 2s;
}

.card {
	margin: 40px auto;
	border-radius: 10px;
	border: solid 1px rgba(0, 0, 0, 0.4);
	width: 75%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	/*max-width: 520px;*/
	text-align: center;
	padding: 1rem;
	animation: animate__backInDown 1.6s;
	background-color: white;
}

.monster-health__label, .player-health__label {
	width: 100%;
	padding: 0.3rem;
	text-align: center;
	margin-top: 1.7rem;
}

.monster-health__container, .player-health__container {
	width: 75%;
	height: 2rem;
	margin: 0.5rem auto;
	border: 1px solid black;
	border-radius: 100px;
}

.monster-health__value, .player-health__value {
	width: 100%;
	height: 100%;
	background-color: #268f16;
	border-radius: 100px;
	z-index: 2;
	position: relative;
	transition: width cubic-bezier(0.51, 0.43, 0.71, 1.2) 0.7s;
}

.monster-health__background, .player-health__background {
	width: 100%;
	height: 100%;
	background-color: rgba(38, 143, 22, 0.51);
	border-radius: 100px;
	z-index: 1;
	position: relative;
	top: -100%;
	transition: width cubic-bezier(0.51, 0.43, 0.71, 1.2) 1.2s;
}

.control {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.row {
	margin: 20px;
	display: flex;
	justify-content: space-evenly;

}

.button {
	font-family: inherit;
	font-size: inherit;
	height: 4rem;
	width: 230px;
	border: none;
	border-radius: 10px;
	background-color: rgb(14, 6, 7);
	color: white;
	cursor: pointer;
}

.button:hover:not([disabled]),
.button:active:not([disabled]) {
	transform: scale(1.05, 1.05);
	background-color: #282727;
}

.button:disabled {
	cursor: not-allowed;
	background-color: rgb(204, 204, 204);
}

.footer {
	width: 100%;
	background-color: black;
	color: white;
	padding: 1rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.footer__text {
	animation: animate__backInDown 0.5s;
}

.bold-1 {
	font-size: 0.6rem;
}

.bold-2 {
	font-size: 0.8rem;
}

.bold-3 {
	font-size: 1.2rem;
}

.bold-4 {
	font-size: 1.6rem;
}

.bold-5 {
	font-size: 1.8rem;
}

.bold-6 {
	font-size: 2rem;
}

.won-text {
	color: green;
}

.lost-text {
	color: red;
}

@keyframes animate__backInDown {
	0% {
		transform: translateY(-10%);
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes animate__bounceIn {
	0% {
		transform: scale(0.8, 0.8);
		opacity: 0;
	}

	33% {
		transform: scale(1.1, 1.1);
		opacity: 1;
	}

	66% {
		transform: scale(0.9, 0.9);
	}

	100% {
		transform: scale(1, 1);
	}
}